---
interface Props {
    title: string;
    contenido: string;
    nameContent: string;
    url?: string;
}

const { title, nameContent, contenido, url } = Astro.props;
const SHIcon = "/images/logo.ico";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- SEO -->
        <meta name={nameContent} content={contenido} />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="Verdulería Virtual" />
        <meta property="og:url" content={url} />
        <meta
            property="og:image"
            content='"/images/delivery.jpg"'
        />
        <meta name="theme-color" content="#0d5a48" />

        <link rel="icon" href={SHIcon} type="image/x-icon" />

        <!-- Css de Header/Nav -->
        <link rel="stylesheet" href="/styles/header.css" />
        <!-- Css de Index -->
        <link rel="stylesheet" href="/styles/index.css" />
        <!-- Css de Clientes -->
        <link rel="stylesheet" href="/styles/indexClientes.css" />
        <!-- Css de Contacto -->
        <link rel="stylesheet" href="/styles/contact.css" />
        <!-- Css de Error 404 -->
        <link rel="stylesheet" href="/styles/404.css" />
        <!-- Css de Section (Inicio) -->
        <link rel="stylesheet" href="/styles/section.css" />
        <!-- Css de Products -->
        <link rel="stylesheet" href="/styles/products.css" />
        <!-- Css de Aside (Nosotros) -->
        <link rel="stylesheet" href="/styles/aside.css" />
        <!-- Css de Card -->
        <link rel="stylesheet" href="/styles/card.css" />
        <!-- Css de Footer -->
        <link rel="stylesheet" href="/styles/footer.css" />
        <!-- Css de Auth (Login / Register) -->
        <link rel="stylesheet" href="/styles/auth.css" />
        <!-- Css de Perfil -->
        <link rel="stylesheet" href="/styles/perfil.css" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
